@{
    ViewBag.Title = "Home Page";
}

<h2>Home</h2>
<p>
    This is an example of a solution made up of F#, ASP.NET MVC, Razor, jQuery UI, CoffeeScript, and more. Select any of the tabs above to see each example.<br />
    <br />
    Note: You'll need to install the Mindscape Web Workbench (http://visualstudiogallery.msdn.microsoft.com/2b96d16a-c986-4501-8f97-8008f9db141a) Visual Studio 2010
    plugin to make the CoffeeScript aspects work correctly.
</p>